<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('CMP-Head-1Generico') %>
		<%- include('CMP-Head-2Personalizado') %>
		<%- include('CMP-Head-3PorTema') %>
	</head>
	<body>
		<header><%- include('CMP-1Header') %></header>
		<main><%- include('CMP-2Main') %></main>
		<footer><%- include('CMP-3Footer') %></footer>
	</body>
</html>
