<div>
	<h2 class="">Riesgo Inicial</h2>
	<table>
		<thead>
			<tr>
				<th>Inicio</th>
				<th>Proy.</th>
				<th>Δ</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			<tr id="total">
				<td class="naranjaClaro"><%= comp.moneda(valorLr0Inicial) %></td>
				<td class="naranjaClaro"><%= comp.moneda(valorLr0Proy) %></td>
				<td class=""><%= comp.moneda(valorLr0Proy - valorLr0Inicial) %></td>
				<td class="azulOscuro"><%= compLr0ProyLr0Inicial %>%</td>
			</tr>
		</tbody>
	</table>
</div>

<div>
	<h2 class="">LR Inicial</h2>
	<table>
		<thead>
			<tr>
				<th>Inicio</th>
				<th>Proy.</th>
				<th>Δ</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			<tr id="total">
				<td class="naranjaOscuro"><%= comp.moneda(valorLr123Inicial) %></td>
				<td class="naranjaOscuro"><%= comp.moneda(valorLr123Proy) %></td>
				<td class=""><%= comp.moneda(valorLr123Proy - valorLr123Inicial) %></td>
				<td class="azulOscuro"><%= compLr123ProyLr123Inicial %>%</td>
			</tr>
		</tbody>
	</table>
</div>

<div>
	<h2 class="">LR Total</h2>
	<table>
		<thead>
			<tr>
				<th>Inicio</th>
				<th>Proy.</th>
				<th>Δ</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			<tr id="total">
				<td class="naranjaOscuro"><%= comp.moneda(valorLr123Inicial) %></td>
				<td class=""><%= comp.moneda(valorLrProy) %></td>
				<td class="<%- valorLrProy < valorLr123Inicial ? 'verdeInterm' : 'rojoOscuro' %>"><%= comp.moneda(valorLrProy - valorLr123Inicial) %></td>
				<td class="azulOscuro"><%= compLrProyLr123Inicial %>%</td>
			</tr>
		</tbody>
	</table>
</div>
